/*Created a new .css for the videoguide page and the gymlayout to style*/

.gymlayout {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 50%;
}

.videoguideimages{
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 35%;
}

#right{
	float: right;
}

#left{
	float: left;
}
